//- =============================================================================
//- > VIEW : HOME
//- =============================================================================
extends templates/_base

//- ==================================================
//- > VARS
//- ==================================================
block vars
    - var body_classes = "home scene"


//- ==================================================
//- > CONTENT
//- ==================================================
block content
    .home__scene
        .home__scene__title Choose an experience
        .home__scene__helper Load / Unload experiences in the top-left option menu