//- =============================================================================
//- > VIEW : HOME
//- =============================================================================
extends templates/_base

//- ==================================================
//- > VARS
//- ==================================================
block vars
    - var body_classes = "home"



block content
    p eeeekek